{
"environment": "development", # this will cause cluster (and application) to be reachable at master_host IP (192.168.1.200). Set to "production" to make the cluster (and application) reachable to cluster_public_ip (in this case)
"cluster_dns_name": "cluster.com",  # public dns name where app will be reachable
"cluster_public_ip": "130.25.41.241", # this is the cluster public IP (so this is the real public IP)
"master_host": "m1@192.168.1.200",  # kubernetes master host IP: provide it from internal interfase (192.168...)
"hosts": ["w1@192.168.1.201","w2@192.168.1.202"],   # list of ONLY worker nodes: made from USERNAME@IP_ADDRESS
"github_branch_name": "cloud-init",
"vm_store_path": "F:\\VM", # the path where all the virtual machines will be stored
"os_image_path": "E:\\Desktop\\torrent downloads\\SO\\focal-server-cloudimg-amd64.img", # the operating system path to be installed on all virtual machines
"docker_username": "docker_username", # used to build and push docker images to repository
"docker_password": "docker_password", # used to build and push docker images to repository
"docker_server_repository_name": "binanceb_nodejs_server", # used to push docker server image from repository and pull by kubernetes
"docker_client_repository_name": "binanceb_vuejs_client", # used to push docker client image from repository and pull by kubernetes
"server_access_token_secret": "server_access_token_secret",
"server_refresh_token_secret": "server_refresh_token_secret",
"server_access_token_lifetime": "50",
"server_refresh_token_lifetime": "50",
"mongo_root_username": "mongorootusername",
"mongo_root_password": "mongorootpassword"
}